:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-color: #FFFFFF;
}
body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;

}

    .list{
    list-style: none;
    }

/* 
#EEEEEE - колір background в картинок в портфоліо
#000000 - колір логотипу
#F5F4FA вторинний background
#FFFFFF60% колір в футер: тел і милo
#2F303A - колір background h1 i футер
#ECECEC - колір background header
*/

.logo{
    color:#000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;;
    text-decoration: none;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;;
}
/* site-nav */
.site-nav .link{
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;

}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}
/* contacts-nav */
.contacts-nav .link{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;
}
.contacts-nav .link:hover, 
.contacts-nav .link:focus{
    color: var(--accent-color);
}
/* Замовити послугу Hero */
.service-title{
    color: #FFFFFF;
    background: #2F303A;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero{
    background-color: #2F303A ;
}
/* button */
.button{
    color: var(--background-color);
    background-color: var(--accent-color);
    font-weight: 700;
font-size: 16px;
line-height: 1.9;

}
/* Переваги, advances*/

.section-title{
    color: var(--title-text-color);
}
.section-title-advances-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    }

/* Чим займаємося */




/* Команда */
.section-title-name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    
    }

.section-title-work-pozition{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
}

/* Footer */

.logo-studio{
    color: var(--background-color);
}
.footer-adress{
color: var(--background-color);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}
.footer-contacts{
color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}